# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter and IPython
.ipynb_checkpoints/

# Environment / virtualenvs
env/
venv/
.venv/

# System files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Hugging Face cache
~/.cache/huggingface/
*.deleteme

# Python egg
*.egg-info/
*.egg

# Logs / output
*.log

# VSCode / IDEs
.vscode/
.idea/

# Mac/Linux swap files
*.swp
